@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(to right, #fafafa,#3292e7);
}

.container{
    display: flex;
    align-items: center;
    position: relative;
    width: 60%;
    height: 100vh;
    margin: 0 auto;
}

.quotes-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 5px #409DA3 solid;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    width: 80%;
    height: 60%;
}

.quotes-content__descr{
    max-width: 80%;
    font-size: 21px;
}

.quotes-content__title{
    margin-top: 100px;
}

.quotes-content__btn{
    background-color: #3292e7;
    color: #fff;
    border: none;
    width: 150px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 90%;
}

.fade{
    animation: fade 0.4s ease;
}

@keyframes fade {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}